@{
  Layout = "_Layout";
}

  <div class="container">
    <div class="jumbotron">
      <h1>Tamagotchi Simulator</h1>
      <p>Add your tamagotchis and try to keep them alive!</p>
      <div class="input-group">
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter pet name...">
        <span class="input-group-btn">
          <button id="add-pet" class="btn btn-default" type="button">Add Tamagotchi</button>
        </span>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-item" id="result1"></div>
      <div class="grid-item">2</div>
    </div>
  </div>
