@{
  Layout = "_Layout";
}

  <div class="container">
    <div class="jumbotron">
      <h1 class="shadow">Tamagotchi Simulator</h1>
      <p>Add some tamagotchis and try to keep them alive!</p>
      <div class="input-group">
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter pet name...">
        <span class="input-group-btn">
          <button id="add-pet" class="btn btn-default" type="submit">Add Tamagotchi</button>
        </span>
      </div>
    </div>
    <div class="grid-container">
      @{
          await Html.RenderPartialAsync("_DisplayPetData");
      }
    </div>
  </div>
